body {
    margin: 32px;
    background-color: #1F2937;
    color: white;
    font-family: Karla;
    border: 2px solid white;
    padding: 80px 62px 80px 62px;
    border-radius: 6px;
}

h1 {
    margin: 0; 
}

p {
    color: #D5D4D8;
    font-family: Inter;
    margin-top: 12px;
}

#genpassword {
    padding: 10px 18px; 
    background-color: #10B981;
    color: white; 
    border-radius: 6px;
    border: none; 
    margin: 42px 0 32px 0;
    font-family: inter;
}

hr {
    height: 1px; 
    background: #2F3E53;
    border: 0;
}

#card {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 32px;
    align-items: center;
    max-width: 1000px;
}

.password-box {
    background-color: #273549;
    padding: 4px 16px;
    width: 220px;
    height: 40px;
    border-radius: 6px;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textcolor {
    color: #55F991;
}

#copy {
    padding: 12px 10px;
    border: 2px solid #10B981;
    border-radius: 4px; 
    background-color: transparent;
    color: white; 
    font-family: inter;
}

#copy:active {
    background: #0a7350; 
}

#copy:disabled {
    background: f1f1f1;
    border: 2px solid #333333;
    color: #333333;
    cursor: not-allowed; 
}